<!DOCTYPE html>
<html>

<head>
    <title>BIODATA AKU</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style2.css">
</head>

<body>
    <div class="form">
        <div class="box">
        <div class="left">
            <div class="padding"><img class="image" src="https://i.pinimg.com/736x/76/22/b2/7622b2048113f91d5ebf6645dd5d9ee1.jpg"/></div>
        </div>
        <div class="right">
            <div class="padding-right">
                <h1 class="title">BIODATA TITANIA</h1>
                <p> berikut adalah biodata singkat mengenai titania. jika ingin melihatnya silahkan klik masuk </p>
                <a class="btn btn-primary" href="biodata" role="button">MASUK</a>
            </div>
        </div>
        </div>
    </div>
</body>
